@font-face {
    font-family: UniNeueLight;
    src: url(fonts/UniNeueLight.otf);
}
@font-face {
    font-family: Sunday;
    src: url(fonts/Sunday.ttf);
}
@font-face {
    font-family: Amsterdam4;
    src: url(fonts/amsterdam4.ttf);
}


body, html {
    height: 100%;
}

.bg-boho-menu {
    background: #D2C8C6D1 0% 0% no-repeat padding-box;
}

.nav-link {
    font: normal normal 1.7rem UniNeueLight;
    font-weight: bold;
    color: white!important;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.8)!important;
}

section#main{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/main.png');
    height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}

.title {
    font: normal normal normal 5rem/7rem Sunday;
    overflow: visible;
}

.subtitle {
    font: normal normal normal 4rem/4rem Amsterdam4;
    color: #674A33;
    text-shadow: 0 0 5px white;
}

@media(max-width: 480px){
    .title {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2rem;
    font-family: 'Sunday';
    text-align: center;
    color: #B5A3A0;
    margin: 1.5rem;
}